{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]
 :dev-http {8088 "build/"}
 :dependencies [[reagent "0.8.1" :exclusions [cljsjs/react cljsjs/react-dom]]
                [cider/cider-nrepl "0.22.1"]
                [org.clojure/test.check "0.10.0"]
                [orchestra "2018.12.06-2"]
                [org.clojure/spec.alpha "0.2.176"]]
 :builds
 {:app {:target :browser
        :output-dir "build/"
        :asset-path "."
        :modules {:main {:init-fn demo.core/main!}}
        :devtools {:after-load demo.core/main!}}}}
